<div id="recipe-entry">
    <form>
        <h2>Create Recipe</h2>
        <div class="form-group log-reg-forms">
            <!--<div class="glyphicon-wrapper"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></div>-->
            <input class="login-input form-control" type="text" placeholder="Recipe Name...">
        </div>
        <div class="form-group log-reg-forms">
            <!--<div class="glyphicon-wrapper"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></div>-->
            <input class="login-input form-control" type="text" placeholder="Short Description">
        </div>
        <div class="form-group log-reg-forms">
            <textarea class="form-control" cols="100" rows="5" placeholder="Please place each ingredient on a separate line"></textarea>
        </div>
        <div class="form-group log-reg-forms">
            <textarea class="form-control" cols="100" rows="5" placeholder="Please place each instruction on a separate line"></textarea>
        </div>
        <div class="form-group">
            <label>
                Choose photo to upload
                <input value="Choose Photo" type="file" id="recipe-photo" accept=".jpg, .jpeg, .png">
            </label>
        </div>
        <input type="submit" value="Create Recipe">
    </form>
</div>
